services:
  fhir:
    image: "hapiproject/hapi:latest"
    ports:
      - "8080:8080"
    volumes:
      - ./hapi.application.yaml:/app/config/application.yaml:Z
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_PASSWORD: admin
      POSTGRES_USER: admin
      POSTGRES_DB: hapi
    ports:
      - "5432:5432" # disable this to prevent external access
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./init-postgres.sql:/docker-entrypoint-initdb.d/init-postgres.sql:Z
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d hapi"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data:

